RIOT_API_KEY=RGAPI-XXX
RIOT_REGION=br1
RIOT_REGIONAL_HOST=americas
NEXT_PUBLIC_SUPABASE_URL=https://XXXgwhXXXampcpdbzXXX.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_XXXX
SUPABASE_SERVICE_ROLE_KEY=eyJXXXX