{
  "mcpServers": {
    "supabase": {
      "command": "npx",
      "args": [
        "-y",
        "@supabase/mcp-server-supabase@latest",
        "--supabase-url", "https://XXXieglbXXXaXXXghXXX.supabase.co",
        "--supabase-service-role-key", "sb_publishable_XXXkXBXXX4XXX_XXXpZXXX_-XvQXXX"
      ]
    },
    "next": {
      "command": "npx",
      "args": ["-y", "mcp-remote", "http://localhost:3000/api/mcp/sse"]
    }
  }
}