{
   "mcpServers":{
      "supabase":{
         "command":"cmd",
         "args":[
            "/c",
            "npx",
            "-y",
            "@supabase/mcp-server-supabase@latest",
            "--access-token",
            "sbp_XXX"
         ],
         "disabled":false,
         "alwaysAllow":[
            "search_docs"
         ]
      },
      "next-devtools":{
         "command":"cmd",
         "args":[
            "/c",
            "npx",
            "-y",
            "next-devtools-mcp@latest"
         ],
         "env":{
            "NEXT_DEV_SERVER_URL":"http://localhost:3000"
         },
         "disabled":false,
         "alwaysAllow":[
            "browser_eval"
         ]
      }
   }
}